/* Estilos para os ícones das redes sociais */
.socialLinks {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 350px;
  margin-bottom: 15px; 
}

.socialIcon {
  font-size: 2rem;
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  -webkit-background-clip: text; /* Garante a aplicação do gradiente ao texto */
  -webkit-text-fill-color: transparent; /* Faz o texto visível apenas com o gradiente */
  transition: transform 0.3s ease, background 0.3s ease;
  cursor: pointer;
}

.socialIcon:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #bc1888, #cc2366, #dc2743, #e6683c, #f09433);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
